.tree-translation {
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgba(1, 1, 1, 0.1);
}
.source-variants {
	list-style-type: lower-alpha;
}

.source-symbol {
	
}
.target-symbol {
	border-top: 1px solid black;
}

.non-terminal-symbol {
	
}
.terminal-symbol {
	font-weight: bold;
}